{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<div class="container container-padding">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h2 class="logo-font mb-4">Add Newsletter</h2>
        </div>
    </div>
    <!-- add a new newsletter form -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_newsletter' %}" class="form mb-5" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-outline-black" href="{% url 'newsletter' %}">Cancel</a>
                    <button class="btn btn-custom text-white" type="submit">Add Newsletter</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}