{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid container-padding mt-0 pt-2">
        <!-- heading -->
        <div class="row container-padding">
            <div class="col my-3 text-center">
                <h1 class="logo-font">Newsletters</h1>
            </div>
        </div>
    </div>
    <!-- newsletter preview -->
    <div class="container-fluid container-padding mt-0 pt-2">
        {% for newsletter in newsletters %}
        <div class="container-publications mx-auto">
            <div class="row">
                <div class="col title">
                    {{ newsletter.title }}
                </div>
            </div>
            <!-- link to read individual newletter detail -->
            <div class="row">
                <div class="col source">
                    {{ newsletter.content|truncatechars:100 }}
                    <a href="{% url 'newsletter_detail' newsletter.id %}">Read more</a>
                </div>
            </div> 
        </div>
        <hr class="solid">
        {% endfor %}
    </div>
    <!-- up arrow -->
    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
<!-- <script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script> -->
{% endblock %}
