{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid container-padding news-container mt-0 pt-2">
    <!-- heading -->
    <div class="row container-padding">
        <div class="col my-3 text-center">
            <h1 class="logo-font">Newsletters</h1>
        </div>
    </div>
    <!-- newsletter preview -->
    {% for newsletter in newsletters %}
    <div class="container-publications mx-auto">
        <div class="row">
            <div class="col title">
                {{ newsletter.title }}
            </div>
        </div>
        <!-- link to read individual newletter detail -->
        <div class="row">
            <div class="col source">
                {{ newsletter.content|truncatechars:100 }}
                <a href="{% url 'newsletter_detail' newsletter.id %}" class="text-alert">Read more</a>
            </div>
        </div>
    </div>
    <hr class="solid">
    {% endfor %}
    <!-- up arrow -->
    {% include 'includes/arrow.html' %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    });
</script>
{% endblock %}
