<form class="form form-control-sm update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty decrement-qty_{{ item.item_id }} btn btn-sm btn-black" data-item_id="{{ item.item_id }}" aria-label="decrement quantity">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number" name="quantity"
                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" aria-label="chosen quantity">
            <div class="input-group-append">
                <button class="increment-qty decrement-qty_{{ item.item_id }}btn btn-sm btn-black "
                    data-item_id="{{ item.item_id }}" aria-label="increment quantity">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<!-- Update & Remove tags -->
<a class="update-link text-white float-left"><small>Update Total</small></a>
<a class="remove-item text-alert float-md-right" id="remove_{{ item.item_id }}"><small>Remove All Items</small></a>