{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- <div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div> -->
{% endblock %}

{% block content %}


    <div id="light-background" class="container-fluid">
        <div class="row">
            <div class="col-12 my-auto">
                <h3 class="display-4 logo-font text-black text-center"><strong>NEW PRINTS AVAILABLE NOW!</strong></h3>
                <div class="row text-center pt-3">
                    <div class="col-md-4 about-img mx-auto pb-sm-5">
                        <img src="media/painting-1813968_640.jpg" class="img-thumbnail " alt="...">
                    </div>
                    <div class="col-md-4 middle-img about-img mx-auto">                       
                        <img src="media/bw soil profile.png" class="img-thumbnail" style="max-height: 80%;"  alt="...">
                    </div>
                    <div class="col-md-4 about-img mx-auto">
                        <img src="media/william-haseltine-84962_640.jpg" class="img-thumbnail" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark">
        black divider
    </div>

    <div class="soil-background">
        <div class="container-fluid">
            <h1>ABOUT</h1>
            <p>text goes here</p>
        </div>

        <div class="bg-dark">
            black divider
        </div>

        <div class="container-fluid">
            <h1>AWARDS</h1>
            <p>carosel with awards goes here</p>
        </div>
    </div>
{% endblock %}