{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-auto">
                <h1 class="display-4 logo-font text-black">NEWLY AVAILABLE PRINTS!</h1>
                <h2 class="my-5">3 print images go here</h2>
            </div>
        </div>
    </div>

    <div class="bg-dark">
        black divider
    </div>

    <div class="container-fluid bg-warning">
        <h1>ABOUT</h1>
        <p>text goes here</p>
    </div>

    <div class="bg-dark">
        black divider
    </div>

    <div class="container-fluid soil-img">
        <h1>AWARDS</h1>
        <p>carosel with awards goes here</p>
    </div>
{% endblock %}