{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="row container-padding">
    <!-- page heading -->
    <div class="col my-3 text-center">
        <h1 class="logo-font">Publications</h1>
    </div>
</div>
<!-- publication containers -->
<div class="container-fluid container-padding mt-0 pt-2">
    {% for publication in publications %}
    <div class="container-publications mx-auto">
        <div class="row">
            <div class="col title">
                {{ publication.title }}
            </div>
        </div>

        <div class="row">
            <div class="col authors">
                {{ publication.authors }}
            </div>
        </div>

        <div class="row">
            <div class="col source">
                {{ publication.publication_year }} - Vol: {{ publication.volume_number }},
                pages {{ publication.page_range }}
            </div>
        </div>

        <div class="row">
            <div class="col source">
                {{ publication.source }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ publication.doi }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                {{ publication.link_url }}
            </div>
        </div>
    </div>

    <hr class="solid">
    {% endfor %}

    <!-- Pagination -->
    <ul class='pagination justify-content-center'>
        {% if publications.has_previous %}
        <li class="mx-1"><a href='{% url "publications_pages" publications.previous_page_number %}'>Previous</a></li>
        {% else %}
        <li class='mx-1 disabled'><span>Previous</span></li>
        {% endif %}

        {% for i in publications.paginator.page_range %}
        {% if publications.number == i %}
        <li class='active mx-1'><span>{{ i }}</span></li>
        {% else %}
        <li class="mx-1"><a href='{% url "publications_pages" i %}'>{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if publications.has_next %}
        <li class="mx-1"><a href='{% url "publications_pages" publications.next_page_number %}'>Next</a></li>
        {% else %}
        <li class="mx-1"><span class='disabled'>Next</span></li>
        {% endif %}
    </ul>
    <!-- up arrow -->
    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    });
</script>
{% endblock %}