{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-padding">
    <div class="row text-center">
        <div class="col">
            <h2 class="logo-font mb-4">Thank You</h2>
            <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-10 col-lg-8 mx-auto">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                        <small>Order Info:</small>
                    </div>
                </div>
                <!-- order summary -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.date }}</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <small>Order Details:</small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 font-weight-bold text-black">
                            {{ item.product.title }}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0 text-black">{{ item.quantity }} @ ${{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <!-- delivery details -->
                <div class="row">
                    <div class="col">
                        <small>Delivering To:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.phone_number }}</p>
                    </div>
                </div>
                <!-- billing info -->
                <div class="row">
                    <div class="col">
                        <small>Billing Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold text-black">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- buttons -->
    <div class="row">
        <div class="col-12 col-lg-7"></div>
    </div>
    <div class="text-center">
        {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn btn-custom text-white my-3 mx-auto">
            <span class="icon mr-2">
                <i class="fas fa-angle-left"></i>
            </span>
            <span class="text-uppercase">Back to Profile</span>
        </a>
        {% else %}
        <div class="row">
            <div class="col-12">
                <a href="{% url 'products' %}" class="btn btn-custom text-white my-3 mx-auto">
                    <span class="icon mr-2">
                        <i class="fas fa-palette"></i>
                    </span>
                    <span class="text-uppercase">Browse products</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}