/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&family=Prompt:wght@200&display=swap');

/* Defaults */
html {
    height: 100%;
}

body {
    font-family: 'Heebo', Arial, sans-serif;
    height: calc(100vh - 164px);
    color: whitesmoke;
    background-color: #533621;
}

p {
    font-family: 'Prompt', Verdana, sans-serif;
    color: whitesmoke;
}

/* Logo */

.logo-container {
    text-align: center;
    letter-spacing: 0.1em;
    max-width: max-content;
}

.large-logo-text {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sm-logo-text {
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.sm-logo-text span {
    flex: 1;
    text-align: center;
}

/* Nav Bar */

#fern-background {
    background: url('/media/ferns.jpg') no-repeat center center fixed;
    background-size: cover;
}

#aeh_logo {
    height: auto;
}

.icon-color {
    color: whitesmoke
}

.bg-black {
    background-color: #000;
    color: whitesmoke;
}

/* #test {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} */

/* .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
} */

/* ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

/* #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
} */

/* .mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
} */

/* ...............................  Home Page */

/* .middle-img {
    max-height: 300px;
} */

.about-img {
    max-width: 400px;
    max-height: 300px;
}

#light-background {
    background: url('/media/light-soil-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#med-background {  
    background: url('/media/med-soil-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.soil-background {
    background: url('/media/dark_soil_background.jpg') no-repeat center center fixed;
    background-size: cover;  
}

/* Award Carousel */
.cards-wrapper {
    display: flex;
    justify-content: center;
  }

  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    color: black;
    height: 330px;
    width: 300px;
  }

  .card-text {
    color: black;
  }

  .carousel-inner {
    padding: 1em;
    color: black;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: black;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: whitesmoke;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Products */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #533621;
    z-index: -1;
}

a.category-badge > span.badge.hover {
    background: #212529;
    color: #fff;
}

.card-body, .card-footer {
    background-color: #533621;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black;
    border: 1px solid black;
}

/* -------------------------------- Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    color: #533621;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 768px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* @media (max-width: 768px) {
    .navbar {
        top: 54px;
    } 

    .pagewide {
        height: 54px;
    }
} */