/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&family=Prompt:wght@200&display=swap');

/* ............................... Defaults */
html {
    position: relative;
    min-height: 100%;   
}

body {
    font-family: 'Heebo', Arial, sans-serif;
    color: whitesmoke;
    background-color: #533621;
    margin-bottom: 60px;  /* relates to footer height */
    height: 100%;
}

p {
    font-family: 'Prompt', Verdana, sans-serif;
    color: whitesmoke;
}

h3 {
    size: 0.8rem;
}

a {
    color: whitesmoke;
    font-weight: bolder;
}

img,
.img-fluid {
    /* height: auto;
    max-width: 100%; */
    /* display: block; */
    max-width:500px;
    max-height:400px;
    width: auto;
    height: auto;
    text-align: center;
  } 

/* ............................... Header & Nav */
/* Logo */
.logo-container {
    text-align: center;
    letter-spacing: 0.1em;
    max-width: max-content;
}

.large-logo-text {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sm-logo-text {
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.sm-logo-text span {
    flex: 1;
    text-align: center;
}

.header-layer {
    background-color: rgba(0,0,0,.4);
    color: #fff;
    padding-inline: 20px;
  }

/* Nav Bar */
#fern-background {
    background: url('/media/ferns.jpg') no-repeat center center fixed;
    background-size: cover;
}

#aeh_logo {
    height: auto;
}

.icon-color {
    color: whitesmoke
}

.bg-black {
    background-color: #000;
    color: whitesmoke;
}

/* ...............................  Home Page */
.btn-custom {
    background-color: #55684b;
}

/* .about-img {
    max-width: 400px;
    max-height: 300px;
} */

#light-background {
    background: url('/media/light-soil-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#med-background {  
    background: url('/media/med-soil-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.soil-background {
    background: url('/media/dark_soil_background.jpg') no-repeat center center fixed;
    background-size: cover;  
}

/* Award Carousel */
.cards-wrapper {
    display: flex;
    justify-content: center;
  }

  .card {
    margin: 0 0.5em;
    background-color: #55684b;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    color: whitesmoke;
    height: 330px;
    width: fit-content;
  }

  .card-custom {
    max-width: 500px;
    min-width: 300px;
    overflow: scroll;
  }

  .card-text {
    color: whitesmoke;
  }

  .carousel-inner {
    padding: 1em;
    color: black;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: black;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: whitesmoke;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Products */
a.category-badge > span.badge.hover {
    background: #212529;
    color: #fff;
}

.card-body, .card-footer {
    background-color: #55684b;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black;
    border: 1px solid black;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ...............................  Wishlist */
.btn-wish {
    color: #55684b;
}

.btn-wish:hover {
    color: black;
}

/* ...............................  Publications */
.title {
    font-weight: 900;
    color: #55684b;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}

.authors {
    font-style: italic;
    letter-spacing: 1.1px;
    font-size: 0.9rem;
}

.source {
    font-weight: 100;
    font-size: 1.1rem;
}

/* -------------------------------- Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    color: #533621;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Footer */
  html {
    position: relative;
    min-height: 100%;
    overflow: auto;
  }
  
  body {
    margin-bottom: 60px;
    overflow: auto;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
  }

  /* -------------------------------- Mailchimp */
  #mc_embed_signup {
    background: #fff;
    color: #000;
    /* false; */
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 768px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* @media (max-width: 768px) {
    .navbar {
        top: 54px;
    } 

    .pagewide {
        height: 54px;
    }
} */

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* Allauth form formatting */
  
  .allauth-form-inner-content p {
      margin-top: 1.5rem; /* mt-4 */
      color: #6c757d; /* text-secondary */
  }
  
  .allauth-form-inner-content input {
      border-color: #000;
      border-radius: 0;
  }
  
  .allauth-form-inner-content label:not([for='id_remember']) {
      display: none;
  }
  
  .allauth-form-inner-content input::placeholder {
      color: #aab7c4;
  }
  
  .allauth-form-inner-content button,
  .allauth-form-inner-content input[type='submit'] {
      /* btn */
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #000;
      border: 1px solid #000;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0;
  
      /* standard bootstrap btn transitions */
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .allauth-form-inner-content button:hover,
  .allauth-form-inner-content input[type='submit']:hover {	
      color: #fff;
      background-color: #222;
      border-color: #222;
  }
  
  .allauth-form-inner-content a {
      color: #17a2b8; /* text-info */
  }
  
  /* Product Form */
  
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  
  .btn-file input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      cursor: pointer;
  }
  
  .custom-checkbox .custom-control-label::before {
      border-radius: 0;
      border-color: #dc3545;
  }
  
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #dc3545;
      border-color: #dc3545;
      border-radius: 0;
  }
  
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  
      .display-4.logo-font.text-black {
          font-size: 2rem;
      }
  
      .nav-link {
          padding: 0.15rem;
      }
  
      .nav-link i.fa-lg {
          font-size: 1rem;
      }
  
      .navbar-toggler {
          padding: .6rem .6rem;
          font-size: 1rem;
      }
  
      #delivery-banner h4 {
          font-size: .9rem;
      }
  
      .btn.btn-outline-black.rounded-0,
      .btn.btn-black.rounded-0 {
          padding: .375rem .375rem;
      }
  
      .btn.btn-outline-black.rounded-0.btn-lg,
      .btn.btn-black.rounded-0.btn-lg {
          padding: .375rem .375rem;
          font-size: .75rem;
      }
  
      .increment-qty, .decrement-qty {
          padding: .25rem .5rem !important;
      }
  }