{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="container-padding col col-md-6 my-auto mx-auto">
            <h1 class="display-4 logo-font mt-5">
                500 Error
            </h1>
            <h2>
                Apologies! Looks like there was an internal error.
            </h2>
            <div class="my-5">
                <h4>
                    <a href="{% url 'home' %}" class="btn btn-lg btn-custom text-white text-uppercase py-3">
                        Return to home page
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}