<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto">

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-2" href="/" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=year&direction=desc" class="dropdown-item ">By Year</a>
                <a href="{% url 'products' %}?sort=title&direction=asc" class="dropdown-item ">By Title</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li> -->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=landscapes" class="dropdown-item">Landscapes</a>

                <a href="{% url 'products' %}?category=soil_profiles" class="dropdown-item">Soil Profiles</a>

                <a href="{% url 'products' %}?category=other" class="dropdown-item">Other</a>

                <a href="{% url 'products' %}" class="dropdown-item">All Artwork</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-2" href="{% url 'about' %}" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Publications
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Year</a>
                <a href="" class="dropdown-item ">By Title</a>
                <a href="{% url 'publications' %}" class="dropdown-item">All Publications</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-2" href="/" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-2" href="{% url 'newsletter' %}" aria-haspopup="true" aria-expanded="false">
                Newsletter
            </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto pr-lg-3">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div>
                    <p class="my-auto">Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Manage Artwork</a>
                <a href="{% url 'add_newsletter' %}" class="dropdown-item">Manage Newsletters</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'wishlist' %}" class="dropdown-item">My Wishlist</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign up</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
    
        <li class="nav-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div>
                    <div><i class="fas fa-shopping-bag fa-lg icon-color" title=" go to bag"></i></div>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <label for="shopping bag total" hidden="hidden">
                shopping bag total
        </label>
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div>
                    <p class="my-auto" aria-label="shopping bag total">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>