<div class="collapse navbar-collapse" id="main-nav">
    <!-- main site links -->
    <ul class="navbar-nav w-auto">

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-2" href="/" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=landscapes" class="dropdown-item">Landscapes</a>

                <a href="{% url 'products' %}?category=soil_profiles" class="dropdown-item">Soil Profiles</a>

                <a href="{% url 'products' %}?category=other" class="dropdown-item">Other</a>

                <a href="{% url 'products' %}" class="dropdown-item">All Artwork</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-2" href="{% url 'shop_info' %}" aria-haspopup="true" aria-expanded="false">
                Shop Info
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-2" href="{% url 'discover' %}" aria-haspopup="true" aria-expanded="false">
                Discover
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-2" href="{% url 'contact' %}" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-2" href="{% url 'newsletter' %}" aria-haspopup="true" aria-expanded="false">
                Newsletter
            </a>
        </li>
    </ul>

    <!-- account dropdown -->
    <ul class="navbar-nav ml-auto pr-lg-3">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div>
                    <p class="my-auto">Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Add Artwork</a>
                <a href="{% url 'add_newsletter' %}" class="dropdown-item">Add Newsletter</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'wishlist' %}" class="dropdown-item">My Wishlist</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign up</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <!-- view bag link -->
        <li class="nav-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div>
                    <div><i class="fas fa-shopping-bag fa-lg icon-color" title=" go to bag"></i></div>
                </div>
            </a>
        </li>
        <!-- shopping bag total -->
        <li class="nav-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div>
                    <p class="my-auto">
                        <span class="sr-only">Shopping bag total</a>
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>