{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/pages.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-padding">
	<!-- page heading -->
	<div class="row">
		<div class="col my-3 text-center">
			<h1 class="logo-font">Welcome to the <strong>Allan E Hewitt</strong> Gallery!</h1>
		</div>
	</div>

	<hr class="solid">
	<!-- page sub-heading -->
	<div class="col text-center">
		<h2>About the Artist</h2>
		<h3><em>"Mature, active, moderately weathered, partly eluviated, 0.06 ka"</em></h3>
	</div>
	<!-- discover the artist cards -->
	<div class="container-fluid d-flex justify-content-around py-3">
		<div class="row text-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 d-flex justify-content-center">
						<div class="card card-about">
							<h5 class="card-header">
								Artist
							</h5>
							<div class="card-body">
								<p class="card-about">
									<img src="https://aeh-art.s3.eu-west-1.amazonaws.com/media/about_allanehewitt.jpg" class="img-thumbnail card-img"
									alt="Picture of Allan Hewitt, artist">
								</p>
							</div>
							<div class="card-footer">
								<a href="{% url 'artist' %}">Find out more</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex justify-content-center">
						<div class="card card-about">
							<h5 class="card-header">
								Scientist
							</h5>
							<div class="card-body">
								<p class="card-about">
									<img src="https://aeh-art.s3.eu-west-1.amazonaws.com/media/hewitt_scientist.jpg" class="img-thumbnail card-img"
										alt="Picture of Allan Hewitt, scientist">
								</p>
							</div>
							<div class="card-footer">
								<a href="{% url 'scientist' %}">Find out more</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex justify-content-center">
						<div class="card card-about">
							<h5 class="card-header">
								Human
							</h5>
							<div class="card-body">
								<p class="card-about">
									<img src="https://aeh-art.s3.eu-west-1.amazonaws.com/media/Allan_Hewitt_young.jpeg" class="img-thumbnail card-img"
										alt="Picture of Allan Hewitt, human">
								</p>
							</div>
							<div class="card-footer">
								<a href="{% url 'human' %}">Find out more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- up arrow -->
	<div class="btt-button shadow-sm rounded-0 border-black">
		<a class="btt-link d-flex h-100">
			<i class="fas fa-arrow-up mx-auto my-auto"></i>
		</a>
	</div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
	$('.btt-link').click(function(e) {
		window.scrollTo(0,0);
	});
</script>
{% endblock %}