{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-padding">
    <div class="row">
        <div class="col my-3 text-center">
            <h1 class="logo-font"><strong>Allan E Hewitt:</strong> Scientist</h1>
        </div>
    </div>

    <hr class="solid">

    <div class="card-body col-3 d-flex justify-content-center mx-auto">
        <p class="card-about">
            <img src="/media/hewitt_scientist.jpg" class="img-thumbnail card-img" alt="Picture of Allan Hewitt, artist">
        </p>
    </div>

    <hr class="solid">

    <div class="row justify-content-center">
        <div class="col-10">
            <p>To be a successful farmer, one must first know
                the nature of the soil, wrote Greek philosopher
                Xenophon around the 4th century BC.
                The importance of knowing the nature of the
                soil has been axiomatic in the life work of
                pedologist and Lincoln University alumnus
                Dr Allan Edward Hewitt.</p>

            <p>Dr Hewitt has made an outstanding scientific
                contribution to soil classification, land
                evaluation and soil mapping in New Zealand
                and also overseas.</p>

            <p>He is the sole author of the New Zealand Soil
                Classification, the accepted source for naming,
                characterising, mapping, sampling and reporting
                for the national inventory of soils in New Zealand.
                The publication of the New Zealand Soil
                Classification in 1992 was acknowledged as a
                major milestone in New Zealand soil science. It
                was the culmination of some 10 years of work by Dr
                Hewitt and others.</p>

            <p>To meet the demands today for digitally available
                descriptions of soil characteristics, Dr Hewitt
                pioneered the extension of his opus into the New
                Zealand spatial soil information system S-map.
                Dr Hewitts lifetime contribution to soil
                classification has provided the foundation for
                training an entire generation of undergraduates,
                emerging scientists and farmers with the critical
                skills needed for soil and land management across
                New Zealand.</p>

            <p>International recognition for the New Zealand Soil
                Classification is evidenced by its translation into
                Spanish and the adoption of many of its features by
                China for its own national classification system.
                The wide use of Dr Hewitts soil classification has
                enhanced the New Zealand reputation for teaching
                and research in soil science.</p>

            <p>Dr Hewitt is a past President of the New Zealand
                Soil Science Society and former Senior Pedologist
                and Research Leader at Landcare Research. After
                studying at Lincoln, he later completed a PhD in
                Agronomy at Cornell University.</p>

            <p>Dr Hewitt has been the recipient of multiple awards across his career, including the Bledisloe Meal
                (awarded by Lincoln University), and author of numerous scientific publications and books.</p>

                <p><em>Adapted from: McKenzie, B. and Gemmell, B. (2019) Lincoln University Bledisloe Medal Dr Allan Hewitt. Available at: <a href="https://alumnilinc.lincoln.ac.nz/nz/lincoln/uploads/files/Medalists/Bledisloe%20Medal/2019%20Allan%20Hewitt%20Citation%20Bledisloe.pdf" target="_blank">Lincoln University Bledisloe Medal Dr Allan Hewitt.</a>
                (Accessed: 19 November 2023).</em></p>
                
        </div>
    </div>

    <!-- Buttons to go back or home -->
    <div class="col-3 mx-auto d-flex justify-content-around pb-5">
        <a href="{% url 'about' %}" class="btn btn-custom mr-3">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Back</span>
            <a href="{% url 'home' %}" class="btn btn-custom">
                <span>Home</span>
            </a>
    </div>

    <div class="divider"></div>

    <a href="{% url 'publications' %}" class="dropdown-item"><button>All Publications</button></a>

    <div class="divider"></div>

<!-- <div class="soil-background">
  <div class="container-fluid">
    <h1 class="text-center py-3">AWARDS</h1>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">

          <div class="card card-custom">
            <div class="card-body">
              <h5 class="card-title">M L Leamy Award</h5>
              <h6>1994</h6>
              <p class="card-text">Awarded every second year to the author of the most meritorious contribution to soil
                science published in the previous three years</p>
            </div>
          </div>

          <div class="card d-md-block card-custom">
            <div class="card-body">
              <h5 class="card-title">M L Leamy Award</h5>
              <h6>2022</h6>
              <p class="card-text">Joint winner with: M Balks, D Lowe</p>
              <p class="card-text">Awarded every second year to the author of the most meritorious contribution to soil
                science published in the previous three years</p>
            </div>
          </div>

          <div class="card d-md-block card-custom">
            <div class="card-body">
              <h5 class="card-title">Norman Taylor Memorial Lecture</h5>
              <h6>1996</h6>
              <p class="card-text">Awarded by the President of the NZ Society of Soil Science in recognition of
                outstanding contributions to soil science in New Zealand</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card card-custom">
            <div class="card-body">
              <h5 class="card-title">Geoderma Top 25 articles of the last 75 years</h5>
              <h6>2019</h6>
              <p class="card-text">Soil natural capital quantification by the stock adequacy method, Published March
                2015</p>
            </div>
          </div>

          <div class="card d-md-block card-custom">
            <div class="card-body">
              <h5 class="card-title">Bledisloe Medal</h5>
              <h6>2019</h6>
              <p class="card-text">Awarded to a former student or a past or current staff member of Lincoln University,
                who in the opinion of the Council; has made an outstanding contribution to his or her chosen field of
                expertise, advanced New Zealand's interests, and/or brought credit to Lincoln University.</p>
            </div>
          </div>

          <div class="card d-md-block card-custom">
            <div class="card-body">
              <h5 class="card-title">Best new book...</h5>
              <h6>2021</h6>
              <p class="card-text">Soils of Aoteatoa more words need to go here</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card card-custom">
            <div class="card-body">
              <h5 class="card-title">J K Taylor OBE Gold Medal in Soil Science</h5>
              <h6>2022</h6>
              <p class="card-text">Joint winner with: M Balks, D Lowe</p>
              <p class="card-text">Awarded by Soil Science Australia for the most meritorious research publication(s) in any form, for their book “The Soils of Aotearoa New Zealand”</p>
            </div>
          </div>

          <div class="card d-md-block card-custom">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6>2022</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->

    <div class="btt-button shadow-sm rounded-0 border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>
    </div>
</div>

<div class="scientist-container col-lg-10">
  <h2>Awards</h2>
  <ul class="scientist-cards">
    <li class="scientist-card">
      <div>
        <h3 class="card-title">J K Taylor OBE Gold Medal in Soil Science, 2022</h3>
        <div class="scientist-card-content">
          <p>Awarded by Soil Science Australia for the most meritorious research publication(s) in any form, for their book “The Soils of Aotearoa New Zealand”</p>
          <p>Joint winner with: M Balks, D Lowe</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 2</h3>
        <div class="scientist-card-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
        </div>
      </div>
      <div class="scientist-card-link-wrapper">
        <a href="" class="scientist-card-link">Learn More</a>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 3</h3>
        <div class="scientist-card-content">
          <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 4</h3>
        <div class="scientist-card-content">
          <p>Aenean posuere mauris quam, pellentesque auctor mi bibendum nec. Sed scelerisque lacus nisi, quis auctor lorem ornare vel.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 5</h3>
        <div class="scientist-card-content">
          <p>Vestibulum pharetra fringilla felis sit amet tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras et arcu sit amet est consequat feugiat. Nam ut sapien pulvinar.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 6</h3>
        <div class="scientist-card-content">
          <p>Donec ut tincidunt nisl. Vivamus eget eros id elit feugiat mollis. Nam sed sem quis libero finibus tempor.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 7</h3>
        <div class="scientist-card-content">
          <p>Aliquam eget nisl auctor, sollicitudin ipsum at, dignissim ligula. Donec tincidunt in elit et pellentesque. Integer posuere metus ac massa mollis euismod.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 8</h3>
        <div class="scientist-card-content">
          <p> Vivamus eget eros id elit feugiat mollis. Nam sed sem quis libero finibus tempor.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 9</h3>
        <div class="scientist-card-content">
          <p>Duis id congue turpis. Donec sodales porta felis, nec ultricies ante. Nam placerat vitae metus sit amet tempor. Aliquam ac dictum est.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 10</h3>
        <div class="scientist-card-content">
          <p>Pellentesque eget eros eget justo efficitur fermentum.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 11</h3>
        <div class="scientist-card-content">
          <p>Phasellus posuere nec nibh ut tincidunt. Aenean mollis turpis non eros posuere, at luctus leo hendrerit. Integer non libero sapien.</p>
        </div>
      </div>
    </li>
    <li class="scientist-card">
      <div>
        <h3 class="scientist-card-title">Service 12</h3>
        <div class="scientist-card-content">
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum ornare metus ac lectus scelerisque volutpat.</p>
        </div>
      </div>
    </li>
  </ul>
</div>

{% endblock %}

{% block postloadjs %}
{% endblock %}