{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/pages.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-padding">
  <!-- page heading -->
  <div class="row">
    <div class="col my-3 text-center">
      <h1 class="logo-font"><strong>Allan E Hewitt:</strong> Scientist</h1>
    </div>
  </div>

  <hr class="solid">
  <!-- artist picture as scientist -->
  <div class="card-body col-3 d-flex justify-content-center mx-auto">
    <p class="card-about">
      <img src="https://aeh-art.s3.eu-west-1.amazonaws.com/media/hewitt_scientist.jpg" class="img-thumbnail card-img"
        alt="Picture of Allan Hewitt, scientist">
    </p>
  </div>

  <hr class="solid">

  <div class="divider"></div>
  <!-- buttons linking to awards and publications -->
  <div class="container-fluid soil-background py-3 text-center">
    <div class="row">
      <div class="col-12">
        <a href="{% url 'publications' %}" class="btn btn-lg btn-custom  btn-discover text-white my-3 mr-md-5">
          <span class="icon pt-3">
            <i class="fa-solid fa-award fa-2xl"></i>
          </span>
          <br>
          <span class="text-uppercase">Publications</span>
        </a>
        <a href="{% url 'awards' %}" class="btn btn-lg btn-custom btn-discover text-white my-3 ml-md-5">
          <span class="icon pt-3">
            <i class="fa-solid fa-book-open fa-2xl"></i>
          </span>
          <br>
          <span class="text-uppercase">Awards</span>
        </a>
      </div>
    </div>
  </div>

  <div class="divider"></div>
  <!-- scientific blurb -->
  <div class="row justify-content-center">
    <div class="col-10 mt-3">
      <p>To be a successful farmer, one must first know
        the nature of the soil, wrote Greek philosopher
        Xenophon around the 4th century BC.
        The importance of knowing the nature of the
        soil has been axiomatic in the life work of
        pedologist and Lincoln University alumnus
        Dr Allan Edward Hewitt.</p>

      <p>Dr Hewitt has made an outstanding scientific
        contribution to soil classification, land
        evaluation and soil mapping in New Zealand
        and also overseas.</p>

      <p>He is the sole author of the New Zealand Soil
        Classification, the accepted source for naming,
        characterising, mapping, sampling and reporting
        for the national inventory of soils in New Zealand.
        The publication of the New Zealand Soil
        Classification in 1992 was acknowledged as a
        major milestone in New Zealand soil science. It
        was the culmination of some 10 years of work by Dr
        Hewitt and others.</p>

      <p>To meet the demands today for digitally available
        descriptions of soil characteristics, Dr Hewitt
        pioneered the extension of his opus into the New
        Zealand spatial soil information system S-map.
        Dr Hewitts lifetime contribution to soil
        classification has provided the foundation for
        training an entire generation of undergraduates,
        emerging scientists and farmers with the critical
        skills needed for soil and land management across
        New Zealand.</p>

      <p>International recognition for the New Zealand Soil
        Classification is evidenced by its translation into
        Spanish and the adoption of many of its features by
        China for its own national classification system.
        The wide use of Dr Hewitts soil classification has
        enhanced the New Zealand reputation for teaching
        and research in soil science.</p>

      <p>Dr Hewitt is a past President of the New Zealand
        Soil Science Society and former Senior Pedologist
        and Research Leader at Landcare Research. After
        studying at Lincoln, he later completed a PhD in
        Agronomy at Cornell University.</p>

      <p>Dr Hewitt has been the recipient of multiple awards across his career, including the Bledisloe Medal (awarded by Lincoln University), and author of numerous scientific publications and books.</p>

      <p><em>Adapted from: McKenzie, B. and Gemmell, B. (2019) Lincoln University Bledisloe Medal Dr Allan Hewitt. Available at:
        <a href="https://alumnilinc.lincoln.ac.nz/nz/lincoln/uploads/files/Medalists/Bledisloe%20Medal/2019%20Allan%20Hewitt%20Citation%20Bledisloe.pdf" target="_blank" rel="noopener noreferrer">Lincoln University Bledisloe Medal Dr Allan Hewitt.</a>
          (Accessed: 19 November 2023).</em></p>
    </div>
  </div>

  <!-- Buttons to go back or home -->
  <div class="col-3 mx-auto d-flex justify-content-around pb-5">
    <a href="{% url 'discover' %}" class="btn btn-custom text-white mr-3">
      <span class="icon">
        <i class="fas fa-chevron-left"></i>
      </span>
      <span>Back</span>
    </a>
    <a href="{% url 'home' %}" class="btn btn-custom text-white">
      <span>Home</span>
    </a>
  </div>
  <!-- up arrow -->
  <div class="btt-button shadow-sm rounded-0 border-black">
    <a class="btt-link d-flex h-100">
      <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
  $('.btt-link').click(function(e) {
    window.scrollTo(0,0);
  });
</script>
{% endblock %}