{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="container-padding">
    <!-- page heading -->
    <div class="row">
        <div class="col my-3 text-center">
            <h1 class="logo-font">Welcome to the <strong>Allan E Hewitt</strong> Gallery!</h1>
            <h2>Celebrating the fusion of art and earth</h2>
        </div>
    </div>

    <hr class="solid">
    <!-- shop blurb -->
    <div class="row justify-content-center">
        <div class="col-10">
            <h3>Our shop offers a curated collection of captivating landscape paintings and lovingly crafted soil profiles that cater to both art enthusiasts and scientists alike.</h3>

            <p>In a unique collaboration between artistry and scientific inquiry, the work of Allan E Hewitt explores landscapes, techincal soil profiles, and the odd experimentation!</p>

            <p><strong>Soil Profiles:</strong> An exclusive collection of hand-drawn soil profiles. Recognized and published in scientific publications and websites, the profiles unveil the hidden layers of the earth, showcasing the diverse and complex composition of soils in loving detail. Merging scientific precision with artistic finesse, these soil profiles serve as both educational tools and captivating pieces of art.</p>

            <p><strong>Landscapes:</strong> A collection demontrating a love of the land in it's surface format, and particularly the artist's love of the South Island of New Zealand, landscape painting was the artist's favoured personal art format.</p>
                
            <p><strong>Other:</strong> Forays into impressionism, watercolours, and even using soil as a painting medium, are collected for your pleasure and purchase!</p>

            <p>Shop our collection and bring home a piece of nature's magnificence while supporting the convergence of art and science. </p>

            <p>Thank you for visiting Allan E Hewitt Gallery — we invite you to explore, appreciate, and connect with the artistry of landscapes and the wonder of soil profiles. Add artwork to your wishlist, then narrow down which pieces to make your own! While you're here, also take the time to discover the life of the artist himself.</p>
        </div>
    </div>
</div>

<hr class="solid">

<!-- FAQs section -->
<div class="col text-center">
    <h2>FAQs</h2>
</div>

<div class="container-fluid">
    <div class="row mx-auto py-3">
        <div class="col-lg-9 mx-auto">
            <div class="accordion" id="accordionExample">
                <!-- FAQ cards -->
                <div class="accordian-card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What format are the prints?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="accordian-card-body">
                            All artwork is printed using archival quality paper, and fine art inks.  Print sizes are defined in the product description for each print.  All prints have a 5cm white border in addition to the stated print size.
                        </div>
                    </div>
                </div>
                <div class="accordian-card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What size are the prints?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="accordian-card-body">
                            Print sizes are noted in the product details section for each print. Landscape artwork are
                            mainly A3 landscape size, soil profiles are all A4 portrait.
                        </div>
                    </div>
                </div>

                <div class="accordian-card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Can I buy an original?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="accordian-card-body">
                            We occasionally faciliate sale of originals. Please contact us using the 'Contact' form to
                            make an enquiry.
                        </div>
                    </div>
                </div>

                <div class="accordian-card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Do you ship internationally?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="accordian-card-body">
                            Yes, we ship anywhere you send post! Please note that in some countries there are import
                            restrictions and taxes that may apply - we will communicate these with you prior to sending
                            an order if it applies to you.
                        </div>
                    </div>
                </div>

                <div class="accordian-card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                How do returns work?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="accordian-card-body">
                            If your order is faultly, damaged or otherwise unsuitable, please contact us directly, and
                            we can make the
                            required arrangements. We cannot accept returns due to change of mind however.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- up arrow -->
<div class="btt-button shadow-sm rounded-0 border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0);
    });
</script>
{% endblock %}