{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<div class="container">
    <!-- page heading -->
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
            <hr>
            <h2 class="logo-font mb-4">Edit Artwork</h2>
            <hr>
        </div>
    </div>
    <!-- form for superuser to edit artwork -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_product' product.artwork_id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-outline-black" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-black" type="submit">Update Artwork</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}