/* -------------------------------- General */

.btn-discover {
    width: 12rem;
}

.card-about {
    max-height: 300px;
    max-width: 200px;
    margin-bottom: 3rem;
}

/* FAQ Accordian */
.accordian-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.accordian-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    color: black;
}

/* -------------------------------- Pages - Scientist */
.scientist-container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    /* font: 16px / 24px "Rubik", sans-serif; */
    color: whitesmoke;
    /* background: var(--platinum); */
    margin: 50px 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --red: #ef233c;
    --darkred: #c00424;
    /* --platinum: #e5e5e5; */
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
  }
  
  .scientist-cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .scientist-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: black;
    color: black;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  
  .scientist-card:not(:last-child) {
    margin-right: 10px;
  }
  
  .scientist-card:hover {
    color: var(--white);
    background: var(--red);
  }
  
  .scientist-card .scientist-card-title {
    font-size: 20px;
  }
  
  .scientist-card .scientist-card-content {
    margin: 20px 0;
    max-width: 85%;
  }
  
  .scientist-card:hover .scientist-card-link {
    background: var(--darkred);
  }
  
  .scientist-cards::-webkit-scrollbar {
    height: 12px;
  }
  
  .scientist-cards::-webkit-scrollbar-thumb,
  .scientist-cards::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .scientist-cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
  }
  
  .scientist-cards::-webkit-scrollbar-track {
    background: var(--thumb);
  }
  
  @media (min-width: 500px) {
    .scientist-card {
      flex-basis: calc(50% - 10px);
    }
  
    .scientist-card:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .scientist-card {
      flex-basis: calc(calc(100% / 3) - 20px);
    }
  
    .scientist-card:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  @media (min-width: 1100px) {
    .scientist-card {
      flex-basis: calc(25% - 30px);
    }
  
    .scientist-card:not(:last-child) {
      margin-right: 40px;
    }
  }